# Hierarchical Clustering

## Importing the libraries

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [3]:
dataset = pd.read_csv("Data/Mall_Customers.csv")
display(dataset.head(), len(dataset))

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

200

In [4]:
X = dataset.iloc[:, [3,4]].values

## Plot the Data tp see what it looks like for intuition

In [ ]:
fig = plt.figure(figsize=(8, 8))

plt.scatter(X[:, 0], X[:, 1], s = 100, c = 'blue')

plt.title("Annual Income vs Spending Score")
plt.xlabel("Annual Income")
plt.ylabel("Spending Score")

plt.show()

## Using the dendrogram to find the optimal number of clusters

## Training the Hierarchical Clustering model on the dataset

## Visualising the clusters